.about-img {
    width: 100%;
    background-color: #171D4B;
    text-align: center;
}
/* .img-about {
    width: 100%;
} */
.vision{
    height: 800px;
    padding: 90px 100px;
}
.vision h3 {
    padding: 10px 0px;
    font-family: 'Barlow', sans-serif;
}
.vision p {
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding: 20px 0px;
}
.team {
    padding: 60px 0px;
}
.team h3 {
    font-family: 'Barlow', sans-serif;
}
.team h5 {
    font-family: 'Barlow', sans-serif;
}