.menubar {
    background-color: #171D4B;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    padding: 10px;
}
.menu-wish, .logo-container{
    list-style: none;
    display: flex;
    transition : all 0.5s ease-in-out;
    text-transform : capitalize; 
    padding: 0px 15px ;
    align-items: center;
}
.menu-wish-item a, .logo-container a{
    padding: 10px 20px;
    color: white;
}
.projectName h3 {
    color: white;
    font-family: 'Barlow', sans-serif;
}
.signin-btn {
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;

}
/* .carousel .item img {
    width: 100%;
    height: 400px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 370px;
    width: auto;
    background: white;
    overflow: hidden;
}
  
.ant-carousel .slick-slide h3 {
    color: #fff;
} */
/* .about-img {
    width: 200%;
} */