/* #root {
  background-color:lightyellow ;
} */
.body, html{
  height: 100%;
}
/* #root {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.App {
  text-align: center;
  color: chartreuse;
  background-color: red;
}
/* .search-container {
  padding: 1rem 2rem !important;
}
.text-muted h3 {
  font-family: 'Barlow', sans-serif;
  color: black !important;
} */
.body {
  height: 100%;
  /* background-color: lawngreen; */
}
.App-link {
  color: #61dafb;
}
.App-header {
  /* background-color: #282c34; */
  background-color: red;
}


/* .container{ */
  /* box-shadow: 10px 10px; */
/* } */

/* #components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}

#DC3D24
#232B2B
#FFFFFF
#E3AE57

#221E1D
#ECEAE0
#63AA9C
#E9633B
#components-form-demo-normal-login .login-form-button {
  width: 100%;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

